@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

// Set your brand colors
// $purple: #659999;
// $pink: #fa7c91;
// $brown: #757763;
// $beige-light: #d0d1cd;
// $beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Quicksand', sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: #1a546d;
// $link: #4d1b50;//#1b2c49;
// $widescreen-enabled: false;
// $fullhd-enabled: false;
$menu-item-hover-background-color: #1b2c49;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
@import '../node_modules/bulma/bulma.sass';
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";
// @import "../node_modules/bulma/sass/"
